.services {
  padding: 0 3rem 0 3rem;
  display: flex;
  height: 50vh;
  margin-bottom: 8rem;
  margin-top: 9rem;
  margin-bottom: 13rem;
}
.leftdiv {
  display: flex;
  flex-direction: column;
  position: relative;
}
.leftdiv > :nth-child(1) {
  margin-top: 1rem;
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
.leftdiv > :nth-child(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}
.leftdiv > :nth-child(3) {
  color: var(--gray);
  font-size: 15px;
  font-weight: 100;
  width: 28rem;
  padding-bottom: 10px;
}
.leftdiv > :nth-child(4) {
  color: var(--gray);
  font-size: 15px;
  font-weight: 100;
  width: 28rem;
  padding-bottom: 10px;
}
.leftdiv > :nth-child(5) {
  color: var(--gray);
  font-size: 15px;
  font-weight: 100;
  width: 28rem;
  padding-bottom: 10px;
}
.leftdiv > :nth-child(6) {
  color: var(--gray);
  font-size: 15px;
  font-weight: 100;
  width: 28rem;
  padding-bottom: 10px;
}
.leftdiv > :nth-child(7) {
  color: var(--gray);
  font-size: 15px;
  font-weight: 100;
  width: 28rem;
  padding-bottom: 10px;
}
.leftdiv > :nth-child(8) {
  color: var(--gray);
  font-size: 15px;
  font-weight: 100;
  width: 28rem;
}
.s-button {
  width: 10rem;
  height: 2rem;
  margin-top: 1rem;
}
.rightdiv{
  position: relative;
}
.rightdiv > * {
  position: absolute;
}
