.card {
    width: 1rem;
    height: 11rem;
    position: absolute;
    flex-direction: column;
    display: flex;
    gap: 1rem;
    align-items: center;
    text-align: center;
    width: 10rem;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: 0px 26px 2rem 26px;
}

.card span:nth-child(5) {

    color: var(--gray);
    font-size: 16px;
}

.card>img {
    transform: scale(0.3);
    margin-bottom: -2rem;
   
}

.c-button {
    border-radius: 7px;
    border: none;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
    background: #ffffff;
    box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    color: #5290fd;
}