.intro {
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}

.i-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.i-name {

    display: flex;
    flex-direction: column;
}

.i-name>:nth-child(1) {
    color: var(--black);
    font-size: 3rem;
}

.i-name>:nth-child(2) {
    color: var(--orange);
    font-size: 3rem;
    font-weight: bold
}

.i-name>:nth-child(3) {
    font-size: 16px;
    color: var(--grey);
    font-weight: 100;
    margin-top: 10px;
}

.i-button {
    width: 6rem;
    height: 2rem;
}

.i-icons {
    display: flex;
    gap: 0rem;
    margin: 3rem;
}

.i-icons>* {
    transform: scale(0.5);
}

.i-icons>* {
    cursor: pointer;
}

.i-right {
    flex: 1;
    position: relative;

}

.i-right>* {
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1) {
    transform: scale(0.69);
    left: -15%;
    top: -9%;
}

.i-right>:nth-child(2) {
    top: -4.6%;
    transform: scale(0.66);
    left: -3rem;
}

.i-right>:nth-child(3) {
    transform: scale(1.4);
    left: 28%;
}

.i-right>:nth-child(4) {
    transform: scale(0.7);
    left: -24%;
    top: -19%;
    border-radius: 50%;
    padding: 0%;
}

.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(72px);
  z-index: -9;
  top: -18%;
  left: 56%;

}