.works {

    padding: 0 3rem 0 3rem;
    display: flex;
    height: 99vh;
    margin-top: 4rem;

}

.w-right {
    position: relative;
}

.w-mainCircle {
    left: 9rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--smboxShadow);
    top: 2rem;
    background: white;
}

.w-mainCircle>* {
    position: absolute;

}

.w-mainCircle>:nth-child(1) {

    top: -3rem;
    left: 6rem;
}

.w-mainCircle>:nth-child(2) {

    top: 5rem;
    left: -2rem;
}

.w-mainCircle>:nth-child(3) {

    top: 5rem;
    left: 6rem;
}

.w-mainCircle>:nth-child(4) {
    left: 15rem;
    top: 5rem;
}

.w-mainCircle>:nth-child(5) {
    left: 6rem;
    top: 13rem;
}

.w-secCircle {
    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius: 100%;
    border: 5px solid #ebebee;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    box-shadow: var(--smboxShadow);
    background: white;
}

.w-secCircle {
    transform: scale(0.6);
}

.w-backc {
    position: absolute;
    height: 13rem;
    width: 13rem;
    border-radius: 100%;
    z-index: -1;

}

.bluec {
    background: #1949B8;
    left: 18rem;
    top: 0rem;
}

.yellowc {
    background: #F5C32C;
    left: 18rem;
    top: 8rem;
}