.works {
  padding: 0rem 3rem;
  display: flex;
  height: 90vh;
  margin-top: 4rem;
}
.works-right-div{
    position: relative;

}
.w-main-circle{
    left: 9rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
   box-shadow:var( --smboxShadow); 
   top: 2rem;
   background: white;
}
.w-main-circle>*{
    position:absolute;
}
.w-main-circle>:nth-child(1){
    top:-4rem ;
    left: 6rem;
}
.w-main-circle>:nth-child(2){
    top: 6rem;
    left: -2rem;
}
.w-main-circle>:nth-child(3){
    top: 5rem;
    left: 6rem;
}
.w-main-circle>:nth-child(4){
    top: 5rem;
    left: 15rem;
}
.w-main-circle>:nth-child(5){
    top: 14rem;
    left: 7rem;
}
.w-sec-circle{
    width:6rem;
    height:6rem;
    position: absolute;
    border-radius: 100%;
    border: 5px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    background:'none';
    box-shadow: var(--smboxShadow);
    background: white;
}
.w-sec-circle>img{
    scale: 0.6;
}
.w-backCircle
{
  position: absolute;
  height:13rem;
  width:13rem;
  border-radius:100%;
  z-index: -1;
}
.blueCircle{
background: #1949b8;
left: 18rem;
top:0rem;
}
.yellowCircle{
    background:#f5c32c ;
    left: 18rem;
top: 8rem;
}