.intro {
  display: flex;
  height: 53vh;
  margin-top: 6rem;
}
.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
}

.i-name {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
}
.i-name > :nth-child(3) {
  color: var(--gray);
  font-weight: 100;
  width: 20rem;
  font-size: 15px;
}
.i-button {
  width: 6rem;
  height: 2rem;
}
.i-icons {
  margin-top: 3rem;
  display: flex;
  gap: 0rem;
}

.i-icons > * {
  transform: scale(0.5);
}
.i-icons > *:hover {
  cursor: pointer;
}
.i-right {
  margin-top: -9%;
  position: relative;
}
.i-right > :nth-child(1) {
    border-radius: 50%;
    transform: scale(0.6);
   
}
