.experience {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  height: 10vh;
  margin-bottom: 8rem;
}
.achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.circle {
  width: 3rem;
  height: 3rem;
  background: white;
  border-radius: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 1.5rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}
.circle::before {
  border-radius: 100%;
  content: "";
  background-image: linear-gradient(to bottom, #87e6fb 0%, #ffcd);
  top: -8px;
  left: -8px;
  bottom: -8px;
  right: -8px;
  position: absolute;
  z-index: -1;
  box-shadow: var(--box);
}
.achievement span:nth-of-type(2){
 color: var(--orange);   
}