.intro {
  display: flex;
  height: 77vh;
  margin-top: 6rem;
}

.i-left {
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: column;
  gap: 2rem;
}

.i-name {
  display: flex;
  flex-direction: column;
}

.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 3rem;
}

.i-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
}

.i-name > :nth-child(3) {
  font-weight: 100;
  font-size: bold;
  color: var(--gray);
  margin-top: 15px;
}

.i-button {
  width: 6rem;
  height: 2rem;
}

.i-icon {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  cursor: pointer;
}

.github {
  font-size: 3rem;
  color: orange;
  transition: all 0.2s;
}

.github:hover {
  font-size: 3.5rem;
}

.linkedIn {
  font-size: 3rem;
  color: orange;
  transition: all 0.2s;
}
.linkedIn:hover {
  font-size: 3.5rem;
}

.facebook {
  font-size: 3rem;
  color: orange;
  transition: all 0.2s;
}
.facebook:hover {
  font-size: 3.5rem;
}
.i-right {
  flex: 1;
  position: relative;
}

.i-right > * {
  position: absolute;
  z-index: 1;
}
.i-right > :nth-child(1) {
  transform: scale(0.69);
  left: -15%;
  top: 9%;
}
.i-right > :nth-child(2) {
  top: -4.6rem;
  transform: scale(0.67);
  left: -3%;
}

.i-right > :nth-child(3) {
  transform: scale(1.4);
  left: 28%;
}

.i-right > :nth-child(4) {
  transform: scale(0.7);
  left: -10%;
  top: -17%;
  border-radius: 50%;
  padding: 0;
}

.blur{
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background-color: #edd0ff;
  filter: blur(212px);
  z-index: -9;
  top: 18%;
  left: 56%;
  filter: blur(72px);
}
